
[033[1;33mNode: {{ ansible_nodename }}

Eth0 IPv4:
  Address: {{ ansible_eth0.ipv4.address }}
  Network: {{ ansible_eth0.ipv4.network }}
  Broadcast: {{ ansible_eth0.ipv4.broadcast }}

CPUs: {{ ansible_processor_vcpus }}

Memory
  Free: {{ ansible_memory_mb.real.free }}
  Used: {{ ansible_memory_mb.real.used }}
  Total: {{ ansible_memory_mb.real.total }}
[033[0m
********************************************************************************
